extends layout

block content
  div.alert.notification#notification
  .container-fluid.full-height
    div.row.code-place
      div.col-md-6.col-lg-6.origin#origin
      div.col-md-6.col-lg-6.compare#compare
      div.col-md-12.col-lg-12#differences
include footer